<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for ('home')}}"><i class="fas fa-home"></i> Home</a></li>
                
            </ul>
        </nav>
    </header>
        
    <main>
        <section> <i class="fas fa-sign-in-alt fa-3x"></i>
        <h1>Login</h1>
        <form id="loginForm" method="POST" action="{{ url_for('login') }}">
                <label for="user-type">Login as:</label>
                <select id="user-type" name="user-type" required>
                    <option value="" disabled selected>Select your user type</option>
                    <option value="applicant">Applicant</option>
                    <option value="company">Company</option>
                </select>
                <pre>
                </pre>
                <br>
                <label for="username"><i class="fa-solid fa-user"></i> Username:</label>
                <br>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password"><i class="fa-solid fa-key"> </i>Password:</label>
                <br>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Login </button>
            </form>
    </section>
</main>
<pre>



    
</pre>
<footer>
    <p>&copy; 2024 Job Portal. All rights reserved.</p>
</footer>
<script src="script.js"></script>
</body>
</html>
